@import "../node_modules/golden-layout/src/css/goldenlayout-base.css";
@import "../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css";

body, html {
  background-color: #222222;
  margin: 0;
  font-size: 14px;
}

#menu {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    button, label {
      border: 0;
      background-color: #333333;
      color: #ededed;
      padding: 4px;
      font-size: 1rem;
    }
  }
}

.editor {
  height: 100%;
  width: 100%;
}

.output-frame {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #ffffff;
}